<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/2dAssets/style.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2D Thingy</title>
</head>
<body>
    <script type="text/javascript" src='/assets/2dAssets/matter.js'></script>
    <script defer type="text/javascript" src="/assets/2dAssets/app.js" ></script>
    <nav class="firstNav">
        <ul>
            <a href="/" class="home">Exhibit</a> 
        </ul>
    </nav>     

    <canvas id="matterWindow"></canvas>

</body>
</html>